* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 30px 60px 30px 60px;
  background-color: lightblue;
}
main #container {
  background-image: url("./mainImage.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 700px;
  width: 75%;
  margin: auto;
  height: 100%;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 30px 40px;
}
main #container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
main #container nav div#leftCorner {
  display: flex;
  align-items: center;
  gap: 55px;
}
main #container nav div#leftCorner img#profile {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  cursor: pointer;
}
main #container nav div#leftCorner div#menu {
  display: flex;
  gap: 20px;
}
main #container nav div#leftCorner div#menu a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
main #container nav div#leftCorner div#menu a:hover {
  text-decoration: underline;
}
main #container nav div#rightCorner a#bookCall {
  color: black;
  font-weight: 500;
  font-size: 16px;
}
main #container section {
  margin-top: 5%;
  height: 80%;
  display: flex;
  gap: 100px;
  padding: 0px 7px;
}
main #container section div#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
main #container section div#left span {
  color: #b6b6b6;
  font-weight: 500;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 13px;
}
main #container section div#left div#line {
  width: 1px;
  border: 1px solid rgba(174, 174, 174, 0.537254902);
  height: 66%;
  background-color: rgba(174, 174, 174, 0.5725490196);
}
main #container section div#right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #container section div#right div#top {
  display: flex;
  gap: 30px;
}
main #container section div#right div#top div {
  position: relative;
}
main #container section div#right div#top div h1 {
  font-size: 35px;
  font-weight: 300;
}
main #container section div#right div#top div p {
  font-size: 14px;
  color: rgb(95, 95, 95);
}
main #container section div#right div#top div i {
  position: absolute;
  top: 18%;
  left: -19%;
  font-size: 20px;
}
main #container section div#right div#middle {
  margin-bottom: 70px;
}
main #container section div#right div#middle h1 {
  font-size: 170px;
  font-weight: 300;
}
main #container section div#right div#middle p {
  font-size: 18px;
}
main #container section div#right div#bottom a {
  text-decoration: none;
  color: black;
}
main #container section div#right div#bottom a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */